<div class="row mb-5">
  <div class="col-8">
    <div class="card">
      <div class="card-header">
        <h3>List your product</h3>
      </div>
      <div class="card-body">
        <form (ngSubmit)="onSubmit()" #Form="ngForm">
          <div>
            <tabset #staticTabs>
              <tab class="p-3" heading="Basic Info">
                <!-- Title -->
                <div class="form-group col-12 mt-2">
                  
                  <label for="title">Title</label>
                  
                  <div class="input-group mt-2">
                    <input type="text" class="form-control" #prodName="ngModel" ngModel name="Name" 
                    minlength="3" 
                    [(ngModel)]="productView.Title"
                    required>
                  </div>
                  <span *ngIf="!prodName.valid && prodName.touched" class="error-block">
                    <span *ngIf="prodName.errors!['required']">Type in the title of your product.</span>
                    <span *ngIf="prodName.errors!['minlength']">Title should be at least 3 characters long.</span>
                  </span>
                </div>
                <!-- Type -->
                <div class="form-group col-12 mt-2">
                  
                  <label for="type">Type</label>
                  
                  <div class="input-group mt-2">
                    <select name="type" class="form-select" ngModel name="Type" [(ngModel)]="productView.Type" required>
                      <option *ngFor="let enum of keys()" value="{{enum}}">
                        {{enum}}
                      </option>
                    </select>
                  </div>

                </div>
                <!-- Size -->
                <div class="form-group col-12 mt-2">
                  <label for="size" class="mb-2">Select your Size</label>
                  <div>
                    <tabset #sizingTabs>
                      <tab heading="Universal Sizes">
                        <div class="input-group mt-2">
                          <select name="size" class="form-select" ngModel name="Size" [(ngModel)]="productView.Size">
                            <option value="One Size Fits All">One Size Fits All</option>
                            <option value="XS">XS</option>
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                            <option value="XL">XL</option>
                          </select> 
                        </div>
                      </tab>
                      <tab heading="EU Sizes">
                        <div class="input-group mt-2">
                          <input type="number" class="form-control" ngModel name="Size" [(ngModel)]="productView.Size">
                        </div>
                      </tab>
                    </tabset>
                  </div>
                </div>
                <br/>

                <!-- Condition -->
                <label>Condition of your product:</label>
                <div class="btn-group col-12 mb-2 mt-2" ngModel name="condition" required [(ngModel)]="productView.Condition" btnRadioGroup>  
                  <label class="btn btn-outline-primary" btnRadio="NEW" role="button" name="condition" aria-selected="true">New</label>
                  <label class="btn btn-outline-primary" btnRadio="PRELOVED" role="button" name="condition">Pre-Loved</label>
                </div>

                <div class="btn-group col-12">
                  <button style="margin-top: 1rem;" type="button" class="btn btn-block btn-primary" 
                  (click)="selectTab(1)">Next</button>
                </div>
              </tab>

              <tab heading="Pricing and Payment Methods" class="p-3">
                <div class="form-group col-12">
                  <label>How do you want to sell your product?</label>
                  <div class="btn-group col-12 mb-2 mt-2" btnRadioGroup>  
                    <label class="btn btn-outline-primary" btnRadio=1 role="button" name="payment">Sell Now</label>
                    <label class="btn btn-outline-primary" btnRadio=2 role="button" name="payment">Auction</label>
                  </div>
                </div>
                <div class="form-group col-12 mb-3 mt-2">
                  <label for="price">Price in Euros </label><i class="comment"> (Starting price for Auctioning, or final price for selling)</i>
                  <div class="input-group mt-2">
                    <input type="number" class="form-control" ngModel name="Price" [(ngModel)]="productView.Price" requiredrequired>
                    <div class="input-group-text">€</div>
                  </div>
                </div>
                <div class="form-group col-12 mb-2 mt-2">
                  <label>Accepted Payment Methods
                    <br/>
                    <i class="comment">Card payments coming soon...</i>
                    <br>
                    <div class="form-check form-switch m-2 p">
                      <input class="form-check-input" type="checkbox" id="paymentCash" checked disabled>
                      <label class="form-check-label m-1" for="paymentCash">Cash</label>
                    </div>
                    <div class="form-check form-switch m-2">
                      <input class="form-check-input" type="checkbox" id="paymentCard" disabled>
                      <label class="form-check-label m-1" for="paymentCard">Card</label>
                    </div>
                  </label>
                </div>
                <div class="form-group col-12 mb-2">
                  <label for="city">City, Country</label>
                  <input type="text" class="form-control mt-2" #prodCity="ngModel" ngModel name="City" 
                  minlength="3" required>
                  <span *ngIf="!prodCity.valid && prodCity.touched" class="error-block">
                    <span *ngIf="prodCity.errors!['required']">Type in your city.</span>
                    <span *ngIf="prodCity.errors!['minlength']">City name should be at least 3 characters long.</span>
                  </span>
                </div>
                <div class="btn-group col-12">
                  <button style="margin-top: 1rem; margin-right: 0.7rem;" type="button" class="btn btn-block btn-primary" 
                  (click)="selectTab(0)">Back</button>
                  <button style="margin-top: 1rem;" type="button" class="btn btn-block btn-primary" 
                  (click)="selectTab(2)">Next</button>
                </div>
              </tab>

              <tab class="p-3" heading="Upload Photos">
                <div class="form-group col-12">
                  <div class="photo-control">
                    <button class="m-2" type="button">Upload</button>
                    <br/>
                    This is under construtction.
                  </div>
                </div>
                <div class="btn-group col-12">
                  <button style="margin-top: 1rem; margin-right: 0.7rem;" type="button" class="btn btn-block btn-primary" 
                  (click)="selectTab(1)">Back</button>
                  <button style="margin-top: 1rem;" [disabled]="!Form.valid" type="submit" class="btn btn-primary mr-2">Save</button>
                </div>
              </tab>
            </tabset>

            
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card-header">
      <h3>Your product review</h3>
      <div>
        <app-product-card [product]="productView"></app-product-card>
      </div>
    </div>
    
  </div>
</div>