.ng-invalid.ng-touched{
    border-color: rgb(169, 52, 52);
    border-width: 1px;
}
.error-block {
    color: red;
}

.photo-control{
    min-height: 300px;
    padding: 30%;
    text-align: center;
    border: 2px dashed blue;
    margin: 5px;
}

.comment{
    color: gray;
}

.btn-group > label[ng-reflect-btn-radio] {
    border-radius: 44px;
    margin: 0.5rem;
    padding: 0px 15px;
    line-height: 30px;
}

.form-check-input{
    width: 34px;
    height: 19px;
}

.card{
  margin: 0px;
  padding: 0px;
}

.row{
  justify-content: center;
}

h3{
  padding-top: 4px;
  padding-left: 3px;
}

.card-header {
  background-color: #4f555b !important;
}
