<div class="row mb-5">
  <div class="col-8">
    <div class="card shadow-lg p-0 bg-white">
      <div class="card-header">
        <h3>List your product</h3>
      </div>
      <div class="card-body">
        <form (ngSubmit)="onSubmit()" [formGroup]="addProductForm">
          <div class="tab-panel">
            <tabset class="member-tabset" #staticTabs>
              <tab class="p-3" heading="Basic Info" formGroupName="BasicInfo">
                <!-- Title -->
                <div class="form-group col-12 mt-2">
                  
                  <label for="title">Title</label>
                  
                  <div class="input-group mt-2">
                    <input type="text" class="form-control" formControlName="Title" 
                    minlength="3" 
                    [(ngModel)]="productView.Title">
                  </div>
                  <!-- <span *ngIf="Title.invalid && (nextCLicked || Title.touched)" class="error-block">
                    <span *ngIf="Title.errors!['required']">Type in the title of your product.</span>
                    <span *ngIf="Title.errors!['minlength']">Title should be at least 3 characters long.</span>
                  </span> -->
                </div>
                <!-- Type -->
                <div class="form-group col-12 mt-2">
                  
                  <label for="type">Type</label>
                  
                  <div class="input-group mt-2">
                    <select class="form-select" formControlName="Type" [(ngModel)]="productView.Type">
                      <option *ngFor="let enum of keys()" value="{{enum}}">
                        {{enum}}
                      </option>
                    </select>
                  </div>
                  <!-- <span *ngIf="prodType.touched" class="error-block">
                    <span *ngIf="prodType.value == '0'">Please select a type.</span>
                  </span> -->

                </div>
                <!-- Size -->
                <div class="form-group col-12 mt-2">
                  <label for="size" class="mb-2">Select your Size</label>
                  <div class="tab-panel">
                    <tabset class="member-tabset" #sizingTabs>
                      <tab heading="Universal Sizes">
                        <div class="input-group mt-2">
                          <select class="form-select" formControlName="Size" [(ngModel)]="productView.Size">
                            <option value="One Size Fits All">One Size Fits All</option>
                            <option value="XS">XS</option>
                            <option value="S">S</option>
                            <option value="M">M</option>
                            <option value="L">L</option>
                            <option value="XL">XL</option>
                          </select> 
                        </div>
                        <!-- <span *ngIf="prodSize.touched" class="error-block">
                          <span *ngIf="!prodSize.value">{{prodSize.value}}Please select a size.</span>
                        </span> -->
                      </tab>
                      <tab heading="EU Sizes">
                        <div class="input-group mt-2">
                          <input type="number" class="form-control" formControlName="Size" [(ngModel)]="productView.Size">
                        </div>
                        <!-- <span *ngIf="prodSize.touched" class="error-block">
                          <span *ngIf="!prodSize.value">{{prodSize.value}}Please select a size.</span>
                        </span> -->
                      </tab>
                    </tabset>
                  </div>
                </div>
                
                <br/>

                <!-- Condition -->
                <label>Condition of your product:</label>
                <div class="btn-group col-12 mb-2 mt-2" formControlName="Condition" [(ngModel)]="productView.Condition" btnRadioGroup>  
                  <label class="btn btn-outline-primary" btnRadio="NEW" role="button" name="Condition" [ariaSelected]="true">New</label>
                  <label class="btn btn-outline-primary" btnRadio="PRELOVED" role="button" name="Condition">Pre-Loved</label>
                </div>

                <!-- Year not required-->
                <div class="form-group col-12 mb-3 mt-2">
                  <label for="year">Year</label> <i class="comment"> (Optional, year of manufacture)</i>
                  <div class="input-group mt-2">
                    <input type="number" class="form-control" formControlName="Year" [(ngModel)]="productView.Year">
                  </div>
                  <!-- <span *ngIf="prodYear.touched" class="error-block">
                    <span *ngIf="prodYear.value <= 1900">Please input a valid year.</span>
                  </span> -->
                </div>

                <!-- Description not required -->
                <div class="form-group col-12 mt-2">
                  
                  <label for="title">Description</label> <i class="comment"> (Optional)</i>
                  
                  <div class="input-group mt-2">
                    <input type="text" class="form-control" formControlName="Description" 
                    minlength="10" 
                    [(ngModel)]="productView.Description">
                  </div>
                  <!-- <span *ngIf="!prodDesc.valid && prodDesc.touched" class="error-block">
                    <span *ngIf="prodDesc.errors!['required']">Please type in a description for your product.</span>
                    <span *ngIf="prodDesc.errors!['minlength']">The description should be at least 10 characters long.</span>
                  </span> -->
                </div>

                <!-- City not required-->
                <div class="form-group col-12 mt-2">
                  
                  <label for="title">City</label>  <i class="comment"> (Optional)</i>
                  
                  <div class="input-group mt-2">
                    <select class="form-select" formControlName="City" [(ngModel)]="productView.City">
                      <option value="Skopje">Skopje</option>
                      <option value="Gostivar">Gostivar</option>
                      <option value="Bitola">Bitola</option>
                      <option value="Kumanovo">Kumanovo</option>
                      <option value="Debar">Debar</option>
                      <option value="Kicevo">Kicevo</option>
                      <option value="Ohrid">Ohird</option>
                      <option value="Struga">Struga</option>
                      <option value="Tetovo">Tetovo</option>
                      <option value="Veles">Veles</option>
                      <option value="Kavadarci">Kavadarci</option>
                      <option value="Negotino">Negotino</option>
                    </select> 
                  </div>
                  <!-- <span *ngIf="prodCity.touched" class="error-block">
                    <span *ngIf="prodCity.value == 0">Please select what city you're from.</span>
                  </span> -->
                </div>

                <div class="btn-group col-12">
                  <button style="margin-top: 1rem;" type="button" class="btn btn-block btn-primary"
                  (click)="selectTab(1)" [disabled]="getBasicInfo().invalid">Next</button>
                </div>
              </tab>

              <tab heading="Pricing and Payment Methods" class="p-3" formGroupName="PriceAndPaymentInfo">
                <!-- Price -->
                <div class="form-group col-12 mb-3 mt-2">
                  <label for="price">Price in Euros </label><i class="comment"> (Starting price for Auctioning, or final price for selling)</i>
                  <div class="input-group mt-2">
                    <input type="number" class="form-control" formControlName="Price" [(ngModel)]="productView.Price">
                    <div class="input-group-text">€</div>
                  </div>
                  <!-- <span *ngIf="prodPrice.touched" class="error-block">
                    <span *ngIf="prodPrice.value <= 0">Please input a valid price for your product.</span>
                  </span> -->
                </div>
                <!-- Payment Methods -->
                <div class="form-group col-12 mb-2 mt-2">
                  <label>Accepted Payment Methods
                    <br/>
                    <i class="comment">Card payments coming soon...</i>
                    <br>
                    <div class="form-check form-switch m-2 p">
                      <input class="form-check-input" type="checkbox" id="paymentCash" checked disabled>
                      <label class="form-check-label m-1" for="paymentCash">Cash</label>
                    </div>
                    <div class="form-check form-switch m-2">
                      <input class="form-check-input" type="checkbox" id="paymentCard" disabled>
                      <label class="form-check-label m-1" for="paymentCard">Card</label>
                    </div>
                  </label>
                </div>

                <div class="btn-group col-12">
                  <button style="margin-top: 1rem; margin-right: 0.7rem;" type="button" class="btn btn-block btn-primary" 
                  (click)="selectTab(0)">Back</button>
                  <button style="margin-top: 1rem;" type="button" class="btn btn-block btn-primary" 
                  (click)="selectTab(2)" [disabled]="getPriceAndPaymentInfo().invalid">Next</button>
                </div>
              </tab>

              <tab class="p-3" heading="Upload Photos">
                <div class="form-group col-12">
                  <div class="photo-control">
                    <button class="m-2" type="button">Upload</button>
                    <br/>
                    This is under construtction.
                  </div>
                </div>
                <!-- <div class="btn-group col-12">
                  <button style="margin-top: 1rem; margin-right: 0.7rem;" type="button" class="btn btn-block btn-primary" 
                  (click)="selectTab(1)">Back</button>
                  <button style="margin-top: 1rem;" [disabled]="!Form.valid" type="submit" class="btn btn-primary mr-2">Save</button>
                </div> -->
                <div class="btn-group col-12">
                  <button style="margin-top: 1rem; margin-right: 0.7rem;" type="button" class="btn btn-block btn-primary" 
                  (click)="selectTab(1)">Back</button>
                  <button style="margin-top: 1rem;" type="submit" class="btn btn-primary mr-2">Save</button>
                </div>
              </tab>
            </tabset>

            
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card-header">
      <h3>Preview</h3>
    </div>
    <div>
      <div class="shadow-lg p3 bg-white">
        <app-product-card [product]="productView" [hideIcons]="true"></app-product-card>
      </div>
    </div>
    
  </div>
</div>