.card {
    min-height: 600px;
}

.card img {
    padding: 10px;
    height: fit-content;
}

.btn {
    font-size: larger;
}

.tab-panel {
    height: 100%;
}

ngx-gallery { 
    margin: auto 0;
    display: inline-block; 
}

.tab-body {
    display: flex;
    height: 500px;
    justify-content: center;
}