<div class="row shadow">
  <div class="col-sm-4 p-0">
    <div class="card">
      <div class="card-img-wrapper">
        <img *ngIf="product.image" class="card-img-top" src="assets/images/{{product.image}}.jpg">
        <img *ngIf="!product.image" class="card-img-top" src="assets/images/placeholder.jpg">
      </div>
      <div class="card-body">
        <h1 class="card-title">{{product.title}}</h1>
        <div>
          <h5>
            <strong>Size:</strong> {{product.size}}
          </h5>
        </div>
        <div>
          <h5>
            <strong>Condition:</strong> {{product.conditionType}}
          </h5>
        </div>
      </div>
      <div class="card-footer">
        <div class="btn-group col-12 mb-2 mt-2" btnRadioGroup>
          <label class="btn fav-btn btn-outline-primary" btnRadio="NEW" role="button" name="Condition">Add To Favorites</label>
          <label class="btn buy-btn btn-outline-primary" btnRadio="PRELOVED" role="button" name="Condition">Buy For <span>{{product.price}}€</span></label>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-8 p-0">
    <div class="tab-panel">
      <tabset class="member-tabset">
        <tab heading="Overview">
          <div class="heading">
            <h5>
              <strong>Description:</strong>
              <p>{{product.description}}</p>
            </h5>
          </div>
          <div class="heading">
            <h5>
              <strong>Type:</strong>
              <p>{{product.productType}}</p>
            </h5>
          </div>
          <div class="heading">
            <h5>
              <strong>Year:</strong>
              <p>{{product.year}}</p>
            </h5>
          </div>
          <!-- <div class="heading">
            <strong>City:</strong>
            <p>{{product.City}}</p>
          </div> -->
        </tab>
        <tab heading="Photos">
          <div class="tab-body">
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
          </div>
          </tab>
      </tabset>
    </div>

  </div>
<p>
