<div class="row shadow">
  <div class="col-sm-4 p-0">
    <div class="card">
      <div class="card-img-wrapper">
        <img *ngIf="product.Image" class="card-img-top" src="assets/images/{{product.Image}}.jpg">
        <img *ngIf="!product.Image" class="card-img-top" src="assets/images/placeholder.jpg">
      </div>
      <div class="card-body">
        <h1 class="card-title">{{product.Title}}</h1>
        <div>
          <strong>Size:</strong> {{product.Size}}
        </div>
        <div>
          <strong>Condition:</strong> {{product.Condition}}
        </div>
      </div>
      <div class="card-footer">
        <div class="btn-group d-flex">
          <button class="btn btn-primary">Add To Favorites</button>
          <button class="btn btn-success">Buy For <span>{{product.Price}}€</span></button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-8 p-0">
    <div class="tab-panel">
      <tabset class="member-tabset">
        <tab heading="Overview">
          <div class="heading">
            <strong>Description:</strong>
            <p>{{product.Description}}</p>
          </div>
          <div class="heading">
            <strong>Type:</strong>
            <p>{{product.Type}}</p>
          </div>
          <div class="heading">
            <strong>Year:</strong>
            <p>{{product.Year}}</p>
          </div>
          <!-- <div class="heading">
            <strong>City:</strong>
            <p>{{product.City}}</p>
          </div> -->
        </tab>
        <tab heading="Photos">
          <div class="tab-body">
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
          </div>
          </tab>
      </tabset>
    </div>

  </div>
<p>
