<div class="card h-100" style="width: 100%;" onclick="this.querySelector('a').click(); return true;">
    <a routerLink="/product-detail/{{product.id}}"></a>
    <div class="card-img-wrapper">
      <img *ngIf="product.image" src="..\assets\images\{{product.image}}.jpg" class="card-img-top">
      <img *ngIf="!product.image" src="..\assets\images\placeholder.jpg" class="card-img-top">
      <ul *ngIf="!hideIcons" class="card-img-overlay favorite-button list-inline text-xxl-center animate">
        <li class="list-inline-item">
          <button class="btn btn-primary favorite-btn" routerLink="/"><i class="fa-regular fa-heart fa-shake" style="color: #ffffff; font-size: 25px;"></i></button>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <h2 class="text-center">{{product.title}}</h2>
      <p class="card-text text-center"></p>
      <span>
        <div class="card-text text-center">
          <h6 style="font-weight: 100;">
            <span *ngIf="!product.productType">None</span><span *ngIf="product.productType">{{product.productType}}</span> |
            <span *ngIf="product.conditionType == 0">None</span><span *ngIf="product.conditionType != 0">{{product.conditionType}}</span> |
            SIZE: <span *ngIf="!product.size">None</span><span *ngIf="product.size">{{product.size}}</span>
          </h6>
        </div>
      </span>
      <h5 class="card-title text-center"><span *ngIf="product.price > 0">{{product.price}} €</span><span *ngIf="product.price <= 0">Not specified</span></h5>
    </div>
    <div *ngIf="locationMyProfile" class="card-footer text-center">
      <button class="btn btn-danger" routerLink="/delete/{{product.id}}" (click)="$event.stopPropagation()"><h5>Delete</h5></button>
    </div>
  </div>
